body {
  margin: 0;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-rev {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
